language: objective-c
os: osx
osx_image: xcode10.1
cache:
  - cocoapods
  - bundler
xcode_workspace: PhotoStickers.xcworkspace
xcode_scheme: PhotoStickers
xcode_sdk: iphonesimulator
env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
before_install:
  - rvm use $(< .ruby-version) --install --binary --fuzzy --create
install:
  - gem install bundler
  - bundle install
  - bundle exec pod install --repo-update
script:
  - bundle exec fastlane test
